/* Universal style */

*, *::before, *::after { box-sizing: inherit;}

html {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

/*  Navigation header */

/* Logo */

nav > img {
    height: 80px;
}



/* Navigation items */

nav {
    margin: 16px 24px;
    display: flex;
    height: 64px;
    flex-wrap: wrap;
    color: #4A4A4A;
    font-weight: bold;
}


nav > .left {
    margin-left: auto;
}


nav > p {
    font-size: 23px;
    padding-right: 16px;
}

p > span {
    color:#9B9B9B;
}

/* Banner Section */

.main {
    display: flex;
    padding: 24px;

    background-color: #D8D8D8;
    color: #4A4A4A;
}

section > .banner-div {
    padding-left: 24px;
    padding-right: 150px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex: 1;
    flex-direction: column;
    font-size: 30px;


    background-color: #D8D8D8;
}

/* Main information header */

.main-banner {
    display: flex;

    margin: 32px 0 0 24px;
}

.banner {
    flex-basis: 60%;
    padding: 0 24px 32px 0;
}


.banner > img {
    /* margin-bottom: 32px; */
}

.banner > p {
    padding-right: 5%;
    font-size: 1.3rem;
    margin-bottom: 32px;

}
.banner > h1 {
    margin-bottom: 32px;
    font-size: 4.4rem;
}

.banner > h3 {
    font-weight: 549;
}


/* Thumbnail section */

.main-information {
    flex-basis: 40%;
}

article {
    display: flex;
}

article > .thumbnail-image {
    flex-basis: 35%;
}

.thumbnail-image > img {
    height: auto;

    padding: 16px;
}

article > .thumbnail-info {
    margin: auto 0;

    flex-basis: 65%;
}

#last-article {
    background-color: #D8D8D8;
}

/* Start learning section */

#start-lr {
    background-color: #D8D8D8;
}

#start-lr > div > span {
    display: block;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 16px;
    font-weight: bold;
    font-size: 1.8rem;
}

.start-lr > div {
    margin: 16px;
    
}

.start-lr {
    display: flex;
    flex-wrap: wrap;
    margin: 0 72px 32px 72px;
    justify-content: center;
    
}


.start-lr-flex {
    background-color: white;
    
}

.start-lr-flex > img {
    margin-bottom: 16px;
}

.start-lr-flex > h1 {
    margin-bottom: 0;
    font-weight: bold;
    opacity: 0.8;
    font-size: 3.1rem;
    padding: 16px;
}
.start-lr-flex > h2 {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 2rem;
    opacity: 0.6;
    font-weight: 500;
    padding: 16px;
}
.start-lr-flex > h3 {
    
    font-size: 2rem;
    opacity: 0.6;
    font-weight: 500;
    margin: 16px;
}


.start-lr-flex-bottom {
    margin-bottom: 32px !important;
}