/* Universal style */

*, *::before, *::after { box-sizing: inherit;}

html {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

/*  Navigation header */

/* Logo */

nav > img {
    height: 52px;
}



/* Navigation items */

nav {
    margin: 0 24px;
    display: flex;

    padding: 16px 0;
    flex-wrap: wrap;
}


nav > .left {
    margin-left: auto;
}


nav > p {
    padding-right: 16px;
}


/* Banner Section */

.main {
    display: flex;
    padding: 24px;

    background-color: lawngreen;
}

section > .banner-div {
    padding-left: 24px;
    padding-right: 150px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex: 1;
    flex-direction: column;
    font-size: 30px;


    background-color: lightsalmon;
}

/* Main information header */

.main-banner {
    display: flex;
}

.main-banner > .banner{
    background-color: magenta;

    flex-basis: 60%;
    margin: 32px 0 32px 24px

    
}



.main-information {
    background-color: orangered;

    flex-basis: 40%;
    margin: 32px 24px;

    display: flex;
    flex-wrap: wrap;
}

.thumbnail-image {
    height: auto;
    padding: 16px;

    flex-basis: 35%;
}

.thumbnail-info {
    background-color: yellow;
    flex-grow: 1;
}
